{% extends 'base.html' %}

{% block main %}

<h1>Add New Property</h1>

<form method="post" action="{{url_for('create_property')}}" enctype="multipart/form-data">
  {{ form.csrf_token }}
  
  {% include 'flash_messages.html' %}

  <div class="form-pHeaders" id="title">
    {{ form.pTitle.label() }} {{ form.pTitle(class='form-control') }}
  </div>

  <div class="form-pHeaders" id="description">
    {{ form.description.label() }} {{ form.description(class='form-control') }}
  </div>

  <div class="form-pHeaders">
    {{ form.number_of_bedrooms.label() }} {{ form.number_of_bedrooms(class='form-control') }}
  </div>

  <div class="form-pHeaders">
    {{ form.number_of_bathrooms.label() }} {{ form.number_of_bathrooms(class='form-control') }}
  </div>

  <div class="form-pHeaders">
    {{ form.price.label() }} {{ form.price(class='form-control') }}
  </div>

  <div class="form-pHeaders">
    {{ form.property_type.label() }} {{ form.property_type(class='form-control') }}
  </div>

  <div class="form-pHeaders">
    {{ form.location.label() }} {{ form.location(class='form-control') }}
  </div>

  <div class="form-pHeaders">
    {{ form.photo.label() }} {{ form.photo(class='form-control') }}
  </div>
  
  <button class="addPropertyBtn" type="submit">Add Property</button>
</form>
{% endblock %}



    