{% extends 'base.html' %}

{% block main %}

    {% include 'flash_messages.html' %} 
    <h1>Properites</h1>
    <div class="uploaded-properties">
        <ul class="grid-list">
            {% for property in properties %}
            <div class="each-prperty">
                <img class="card-img-top" height="290px" src="{{ url_for('get_image', filename=property.photo) }}" alt="Property Photo">
                
                <h3><strong> {{pTitle}} </strong></h3>
                <p> {{location}} </p>
                <p class="priceP"> {{price}} </p>
                <button class="property-view"> View Property </button>
            </div>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

