{% extends 'base.html' %}

{% block main %}

    {% include 'flash_messages.html' %} 
    <h1>Properites</h1>
    <div class="uploaded-properties">
        <ul class="grid-list">
            {% for vproperty in vproperties %}
            <div class="each-prperty">
                <img class="card-img-top" height="290px" src="{{ image_files }}" alt="Property Photo">
                <h3 class="vpTitle"> {{vproperty.pTitle}}</h3>
                <p class="vlocation"> <img src="{{ url_for('static', filename='locationIcon.png') }}" class="icon" alt="Location icon">{{vproperty.location}} </p>
                <div class="divider"> <p class="priceP"> ${{vproperty.price}} </p></div>
                <a href="{{ url_for('view_property', propertyid=vproperty.id) }}" button type="button" class="viewPbtn">View Property</a>
            </div>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

